.App {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-left:20rem;
 
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
